<header class="main-header" role="banner">
  <div class="container">
    <div class="row">
      {{ page.header }}

      <div class="main-navigation">
        {{ page.main_navigation }}
      </div>
    </div>
  </div>
</header>